<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Opencv-demo</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      
      <div class="card" style="width: 66rem; height: 45rem;">          
        {% if standard_url %}
          <div class="row">
            <a href="{{ original_standard_url }}"><img src="{{ standard_url }}"></a>
          </div>
          <div class="row">
            <div class="card-body">
              <div class="btn-toolbar"><div class="btn-group"> 
                <a href="/STANDARD"><button type="button" class="btn btn-primary" disabled>STANDARD</button></a>
                <form action="/LUCID" method="post">
                  <button type="submit" class="btn btn-outline-success" name="get_value" value="{{ original_url }}">LUCID</button>
                </form>
                <a href="/"><button type="button" class="btn btn-outline-primary">TOPに戻る</button></a>
              </div></div>
            </div>
          </div>
          {% elif lucid_url %}
            <div class="row">
              <a href="{{ original_lucid_url }}"><img src="{{ lucid_url }}"></a>
            </div>
            <div class="row">
              <div class="card-body">
                <div class="btn-toolbar"><div class="btn-group">
                  <form action="/STANDARD" method="post">
                    <button type="submit" class="btn btn-outline-primary"　name="get_value" value="{{ original_url }}">STANDARD</button>
                  </form>
                    <a href="LUCID"><button type="button" class="btn btn-success"　disabled>LUCID</button></a>
                    <a href="/"><button type="button" class="btn btn-outline-primary">TOPに戻る</button></a>
                </div></div>
              </div>
            </div>

          {% elif img_url %}
          <div class="row">
              <a href="{{ original_url }}"><img src="{{ img_url }}"></a>
            </div>
            <div class="row">
              <div class="card-body">
                <div class="btn-toolbar"><div class="btn-group"> 
                  <form action="/STANDARD" method="post">
                    <button type="submit" class="btn btn-outline-primary" name="get_value" value="{{ original_url }}">STANDARD</button>
                  </form>
                  <form action="/LUCID" method="post">
                    <button type="submit" class="btn btn-outline-success" name="get_value" value="{{ original_url }}">LUCID</button>
                  </form>
                </div></div>
              </div>
            </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>